# Created by .ignore support plugin (hsz.mobi)
.idea
build
library/build
library/library.iml
gradlew
gradlew.bat
local.properties
RobotoTextGradle.iml
demo/build
demo/demo.iml
.gradle/
gradle.properties
RobotoText.iml